Orion/Components/ImportExport/Interface/SiriusImport/Cash_Allocation_Import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.siriusfs.com/SFI/Import/Cash_Allocation_Import/20051005" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siriusfs.com/SFI/Import/Cash_Allocation_Import/20051005" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="IMPORT_HEADER">
    <xs:annotation>
      <xs:documentation>Sirius Import Header</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="CASH" />
      </xs:sequence>
      <xs:attribute name="interface_name" type="xs:string" use="required" fixed="CASH_ALLOCATION_IMPORT" />
      <xs:attribute name="batch_id" type="xs:long" use="optional" />
      <xs:attribute name="batch_reference" type="xs:string" use="optional" />
      <xs:attribute name="user_name" type="xs:string" use="required" />
      <xs:attribute name="date" type="xs:dateTime" use="required" />
      <xs:attribute name="record_count" type="xs:long" use="required" />
      <xs:attribute name="record_total" type="xs:double" use="required" />
      <xs:attribute name="status" type="xs:string" use="optional" />
      <xs:attribute name="date_imported" type="xs:dateTime" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CASH">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Transactions" />
      </xs:sequence>      
      <xs:attribute name="bankaccount_code" type="xs:string" use="required" />
      <xs:attribute name="currency_code" type="xs:string" use="required" />
      <xs:attribute name="cash_type_code" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Note: This field represents CashList (receipt\payment) Type Code that need to be valid system code.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="mediatype_code" type="xs:string" use="required" />
      <xs:attribute name="account_code" type="xs:string" use="required" />
      <xs:attribute name="transaction_date" type="xs:date" use="optional" />
      <xs:attribute name="cash_amount" type="xs:double" use="required" />
      <xs:attribute name="media_reference" type="xs:string" use="optional" />
      <xs:attribute name="our_reference" type="xs:string" use="optional" />
      <xs:attribute name="their_reference" type="xs:string" use="optional" />
      <xs:attribute name="contact_name" type="xs:string" use="optional" />
      <xs:attribute name="address1" type="xs:string" use="optional" />
      <xs:attribute name="address2" type="xs:string" use="optional" />
      <xs:attribute name="address3" type="xs:string" use="optional" />
      <xs:attribute name="address4" type="xs:string" use="optional" />
      <xs:attribute name="postal_code" type="xs:string" use="optional" />
      <xs:attribute name="country_code" type="xs:string" use="optional" />
      <xs:attribute name="cheque_name" type="xs:string" use="optional" />
      <xs:attribute name="cheque_date" type="xs:date" use="optional" />
      <xs:attribute name="cc_name" type="xs:string" use="optional" />
      <xs:attribute name="cc_number" type="xs:string" use="optional" />
      <xs:attribute name="cc_expiry_date" type="xs:string" use="optional" />
      <xs:attribute name="cc_start_date" type="xs:string" use="optional" />
      <xs:attribute name="cc_issue" type="xs:string" use="optional" />
      <xs:attribute name="cc_pin" type="xs:string" use="optional" />
      <xs:attribute name="cc_auth_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_manual_auth_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_transaction_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_customer" type="xs:string" use="optional" />
      <xs:attribute name="cash_transdetail_id" type="xs:long" use="optional">
        <xs:annotation>
          <xs:documentation>Note: Posted cash transdetail_id in primary account.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="document_ref" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Note: Posted document_ref.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="error_indicator" type="xs:string" use="optional" />
      <xs:attribute name="error_message" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Transactions">
    <xs:annotation>
      <xs:documentation>Sirius Allocation Import Transaction Data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="transdetail_id" type="xs:long" use="required" />
      <xs:attribute name="transdetailex_id" type="xs:long" use="required" />
      <xs:attribute name="amount" type="xs:double" use="required">
        <xs:annotation>
          <xs:documentation>Note: Total amount of all items must match with corresponding cash node or must be written off.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="writeoff" type="xs:boolean" use="required">
        <xs:annotation>
          <xs:documentation>Note: subject to user limits.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="wo_reason_code" type="xs:string" use="optional" />
      <xs:attribute name="wo_amount" type="xs:double" use="optional" />
      <xs:attribute name="wo_transdetail_id" type="xs:long" use="optional" />
      <xs:attribute name="wo_document_ref" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>  
</xs:schema>