Orion/Components/ImportExport/Interface/SiriusImport/Payment_Import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.siriusfs.com/SFI/Import/Payment_Import/20051005" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siriusfs.com/SFI/Import/Payment_Import/20051005" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="IMPORT_HEADER">
    <xs:annotation>
      <xs:documentation>Sirius Import Header</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="PAYMENT"/>
      </xs:sequence>
      <xs:attribute name="interface_name" type="xs:string" use="required" fixed="PAYMENT_IMPORT"/>
      <xs:attribute name="batch_id" type="xs:long" use="optional"/>
      <xs:attribute name="batch_reference" type="xs:string" use="optional"/>
      <xs:attribute name="date_imported" type="xs:dateTime" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAYMENT">
    <xs:annotation>
      <xs:documentation>Sirius Payment Import Data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="payment_type_code" type="xs:string" use="required"/>
      <xs:attribute name="mediatype_code" type="xs:string" use="required"/>
      <xs:attribute name="mediatype_issuer_code" type="xs:string" use="optional"/>
      <xs:attribute name="bankaccount_code" type="xs:string" use="required"/>
      <xs:attribute name="account_code" type="xs:string" use="required"/>
      <xs:attribute name="cheque_number" type="xs:string" use="required"/>
      <xs:attribute name="transaction_date" type="xs:date" use="required"/>
      <xs:attribute name="cheque_date" type="xs:date" use="optional"/>
      <xs:attribute name="currency_code" type="xs:string" use="required"/>
      <xs:attribute name="amount" type="xs:double" use="required"/>
      <xs:attribute name="contact_name" type="xs:string" use="optional"/>
      <xs:attribute name="address1" type="xs:string" use="optional"/>
      <xs:attribute name="address2" type="xs:string" use="optional"/>
      <xs:attribute name="address3" type="xs:string" use="optional"/>
      <xs:attribute name="address4" type="xs:string" use="optional"/>
      <xs:attribute name="postal_code" type="xs:string" use="optional"/>
      <xs:attribute name="country_code" type="xs:string" use="optional"/>
      <xs:attribute name="payment_name" type="xs:string" use="optional"/>
      <xs:attribute name="payment_account_code" type="xs:string" use="optional"/>
      <xs:attribute name="payment_branch_code" type="xs:string" use="optional"/>
      <xs:attribute name="payment_expiry_date" type="xs:date" use="optional"/>
      <xs:attribute name="payment_reference1" type="xs:string" use="optional"/>
      <xs:attribute name="payment_reference2" type="xs:string" use="optional"/>
      <xs:attribute name="cc_name" type="xs:string" use="optional"/>
      <xs:attribute name="cc_number" type="xs:string" use="optional"/>
      <xs:attribute name="cc_expiry_date" type="xs:string" use="optional"/>
      <xs:attribute name="cc_start_date" type="xs:string" use="optional"/>
      <xs:attribute name="cc_issue" type="xs:string" use="optional"/>
      <xs:attribute name="cc_pin" type="xs:string" use="optional"/>
      <xs:attribute name="cc_auth_code" type="xs:string" use="optional"/>
      <xs:attribute name="cc_manual_auth_code" type="xs:string" use="optional"/>
      <xs:attribute name="cc_transaction_code" type="xs:string" use="optional"/>
      <xs:attribute name="cc_customer" type="xs:string" use="optional"/>
      <xs:attribute name="user_name" type="xs:string" use="required"/>
      <xs:attribute name="do_cc_authorisation" type="xs:string" use="optional"/>
      <xs:attribute name="allocation_transdetail_id" type="xs:long" use="optional"/>
      <xs:attribute name="sepa_payment_bic" type="xs:string" use="optional"/>
      <xs:attribute name="sepa_payment_iban" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
