Orion/Components/ImportExport/Interface/SiriusImport/Receipt_Import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.siriusfs.com/SFI/Import/Receipt_Import/20051005" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siriusfs.com/SFI/Import/Receipt_Import/20051005" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="IMPORT_HEADER">
    <xs:annotation>
      <xs:documentation>Sirius Import Header</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="RECEIPT" />
      </xs:sequence>
      <xs:attribute name="interface_name" type="xs:string" use="required" fixed="RECEIPT_IMPORT" />
      <xs:attribute name="batch_id" type="xs:long" use="optional" />
      <xs:attribute name="batch_reference" type="xs:string" use="optional" />
			<xs:attribute name="bankaccount_code" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Note: This field represents the bank account name, not the bank account code.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
      <xs:attribute name="currency_code" type="xs:string" use="required" />
      <xs:attribute name="user_name" type="xs:string" use="required" />
      <xs:attribute name="date" type="xs:dateTime" use="required" />
      <xs:attribute name="record_count" type="xs:long" use="required" />
      <xs:attribute name="record_total" type="xs:double" use="required" />
      <xs:attribute name="status" type="xs:string" use="optional" />
      <xs:attribute name="date_imported" type="xs:dateTime" use="optional" />
      <xs:attribute name="sepa_account_bic" type="xs:string" use="optional" />
      <xs:attribute name="sepa_account_iban" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RECEIPT">
    <xs:annotation>
      <xs:documentation>Sirius Receipt Import Data</xs:documentation>
    </xs:annotation>
    <xs:complexType> 
      <xs:attribute name="receipt_type_code" type="xs:string" use="required" />
      <xs:attribute name="mediatype_code" type="xs:string" use="required" />
      <xs:attribute name="mediatype_issuer_code" type="xs:string" use="optional" />
      <xs:attribute name="account_code" type="xs:string" use="required" />
      <xs:attribute name="transaction_date" type="xs:date" use="optional" />
      <xs:attribute name="amount" type="xs:double" use="required" />
      <xs:attribute name="media_reference" type="xs:string" use="optional" />
      <xs:attribute name="our_reference" type="xs:string" use="optional" />
      <xs:attribute name="their_reference" type="xs:string" use="optional" />
      <xs:attribute name="contact_name" type="xs:string" use="optional" />
      <xs:attribute name="address1" type="xs:string" use="optional" />
      <xs:attribute name="address2" type="xs:string" use="optional" />
      <xs:attribute name="address3" type="xs:string" use="optional" />
      <xs:attribute name="address4" type="xs:string" use="optional" />
      <xs:attribute name="postal_code" type="xs:string" use="optional" />
      <xs:attribute name="country_code" type="xs:string" use="optional" />
      <xs:attribute name="cheque_name" type="xs:string" use="optional" />
      <xs:attribute name="cheque_date" type="xs:date" use="optional" />
      <xs:attribute name="cc_name" type="xs:string" use="optional" />
      <xs:attribute name="cc_number" type="xs:string" use="optional" />
      <xs:attribute name="cc_expiry_date" type="xs:string" use="optional" />
      <xs:attribute name="cc_start_date" type="xs:string" use="optional" />
      <xs:attribute name="cc_issue" type="xs:string" use="optional" />
      <xs:attribute name="cc_pin" type="xs:string" use="optional" />
      <xs:attribute name="cc_auth_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_manual_auth_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_transaction_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_customer" type="xs:string" use="optional" />
      <xs:attribute name="user_name" type="xs:string" use="required" />
      <xs:attribute name="error_indicator" type="xs:string" use="optional" />
      <xs:attribute name="original_account_code" type="xs:string" use="optional" />
      <xs:attribute name="insurance_file_cnt" type="xs:integer" use="optional" />
      <xs:attribute name="policy_reference" type="xs:string" use="optional" />
      <xs:attribute name="error_message" type="xs:string" use="optional" />
      <xs:attribute name="allow_partial_allocation" type="xs:integer" default="0" use="optional" />
      <xs:attribute name="do_not_post_unallocated_amount" type="xs:integer" default="0" use="optional" />
      <xs:attribute name="inst_plan_reference" type="xs:string" default="0" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>