Web Portal/FileUpload/FileUpload/Service References/FileUploadService/FileUpload32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Pure.Portals.FileUpload" elementFormDefault="qualified" targetNamespace="Pure.Portals.FileUpload" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/fileuploadservice/FileUpload.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="InsertFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="file" nillable="true" type="q1:WebFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>