Web Services/STS/SAM Solution/SiriusFS.SAM.SAMClient/Web References/STSListManagement/ListManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://siriusgroup.co.uk/SiriusTransactionService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://siriusgroup.co.uk/SiriusTransactionService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://siriusgroup.co.uk/SiriusTransactionService/">
      <s:element name="GetPMUserDefListEffective">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PMTableName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPMUserDefListEffectiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPMUserDefListEffectiveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPMUserDefListDeleted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PMTableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPMUserDefListDeletedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPMUserDefListDeletedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGISUserDefListEffective">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GISUserDefHeaderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GISUserDefHeaderCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGISUserDefListEffectiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGISUserDefListEffectiveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGISUserDefListDeleted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GISUserDefHeaderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGISUserDefListDeletedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGISUserDefListDeletedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSVersion">
        <s:complexType />
      </s:element>
      <s:element name="WSVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPMUserDefListEffectiveSoapIn">
    <wsdl:part name="parameters" element="tns:GetPMUserDefListEffective" />
  </wsdl:message>
  <wsdl:message name="GetPMUserDefListEffectiveSoapOut">
    <wsdl:part name="parameters" element="tns:GetPMUserDefListEffectiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetPMUserDefListDeletedSoapIn">
    <wsdl:part name="parameters" element="tns:GetPMUserDefListDeleted" />
  </wsdl:message>
  <wsdl:message name="GetPMUserDefListDeletedSoapOut">
    <wsdl:part name="parameters" element="tns:GetPMUserDefListDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="GetGISUserDefListEffectiveSoapIn">
    <wsdl:part name="parameters" element="tns:GetGISUserDefListEffective" />
  </wsdl:message>
  <wsdl:message name="GetGISUserDefListEffectiveSoapOut">
    <wsdl:part name="parameters" element="tns:GetGISUserDefListEffectiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetGISUserDefListDeletedSoapIn">
    <wsdl:part name="parameters" element="tns:GetGISUserDefListDeleted" />
  </wsdl:message>
  <wsdl:message name="GetGISUserDefListDeletedSoapOut">
    <wsdl:part name="parameters" element="tns:GetGISUserDefListDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="WSVersionSoapIn">
    <wsdl:part name="parameters" element="tns:WSVersion" />
  </wsdl:message>
  <wsdl:message name="WSVersionSoapOut">
    <wsdl:part name="parameters" element="tns:WSVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="ListManagementSoap">
    <wsdl:operation name="GetPMUserDefListEffective">
      <wsdl:input message="tns:GetPMUserDefListEffectiveSoapIn" />
      <wsdl:output message="tns:GetPMUserDefListEffectiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPMUserDefListDeleted">
      <wsdl:input message="tns:GetPMUserDefListDeletedSoapIn" />
      <wsdl:output message="tns:GetPMUserDefListDeletedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGISUserDefListEffective">
      <wsdl:input message="tns:GetGISUserDefListEffectiveSoapIn" />
      <wsdl:output message="tns:GetGISUserDefListEffectiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGISUserDefListDeleted">
      <wsdl:input message="tns:GetGISUserDefListDeletedSoapIn" />
      <wsdl:output message="tns:GetGISUserDefListDeletedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Web Service Version Number.</wsdl:documentation>
      <wsdl:input message="tns:WSVersionSoapIn" />
      <wsdl:output message="tns:WSVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListManagementSoap" type="tns:ListManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPMUserDefListEffective">
      <soap:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/GetPMUserDefListEffective" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPMUserDefListDeleted">
      <soap:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/GetPMUserDefListDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGISUserDefListEffective">
      <soap:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/GetGISUserDefListEffective" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGISUserDefListDeleted">
      <soap:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/GetGISUserDefListDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSVersion">
      <soap:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/WSVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListManagementSoap12" type="tns:ListManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPMUserDefListEffective">
      <soap12:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/GetPMUserDefListEffective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPMUserDefListDeleted">
      <soap12:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/GetPMUserDefListDeleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGISUserDefListEffective">
      <soap12:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/GetGISUserDefListEffective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGISUserDefListDeleted">
      <soap12:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/GetGISUserDefListDeleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSVersion">
      <soap12:operation soapAction="http://siriusgroup.co.uk/SiriusTransactionService/WSVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListManagement">
    <wsdl:port name="ListManagementSoap" binding="tns:ListManagementSoap">
      <soap:address location="http://vm-sam-sfi1810/SIRIUSFS.SAM.SERVICEAGENT/ListManagement.asmx" />
    </wsdl:port>
    <wsdl:port name="ListManagementSoap12" binding="tns:ListManagementSoap12">
      <soap12:address location="http://vm-sam-sfi1810/SIRIUSFS.SAM.SERVICEAGENT/ListManagement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>