Orion/Components/ImportExport/Interface/SiriusExport/Instalment_Plan_Export.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.siriusfs.com/SFI/Export/instalment_plan_Export/20070816" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siriusfs.com/SFI/Export/instalment_plan_Export/20070816" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="EXPORT_HEADER">
    <xs:annotation>
      <xs:documentation>Sirius Export Header</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="instalment_plan" />
      </xs:sequence>
      <xs:attribute name="interface_name" type="xs:string" use="required" fixed="INSTALMENT_PLAN_EXPORT" />
      <xs:attribute name="parameters_used" type="xs:string" />
      <xs:attribute name="batch_id" type="xs:long" use="optional" />
      <xs:attribute name="batch_reference" type="xs:string" use="optional" />
      <xs:attribute name="date_exported" type="xs:dateTime" use="optional" />
      <xs:attribute name="total_transactions" type="xs:long" />
      <xs:attribute name="total_amount" type="xs:double" />
      <xs:attribute name="business_type" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="instalment_plan">
    <xs:annotation>
      <xs:documentation>Sirius instalment_plan Import Data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="insurance_file_cnt" type="xs:long" use="required" />
      <xs:attribute name="insurance_ref" type="xs:string" use="required" />
      <xs:attribute name="cover_start_date" type="xs:dateTime" use="required" />
      <xs:attribute name="first_instalment_date" type="xs:dateTime" use="required" />
      <xs:attribute name="next_instalment_date" type="xs:dateTime" use="required" />
      <xs:attribute name="last_instalment_date" type="xs:dateTime" use="required" />
      <xs:attribute name="total_premium" type="xs:double" use="required" />
      <xs:attribute name="amount_financed" type="xs:double" use="required" />
      <xs:attribute name="instalment_deposit" type="xs:double" use="optional" />
      <xs:attribute name="net_amount" type="xs:double" use="required" />
      <xs:attribute name="finance_fee" type="xs:double" use="optional" />
      <xs:attribute name="interest_free" type="xs:string" use="required" />
      <xs:attribute name="interest_rate" type="xs:double" use="optional" />
      <xs:attribute name="interest_cost" type="xs:double" use="optional" />
      <xs:attribute name="tax_cost" type="xs:double" use="optional" />
      <xs:attribute name="number_of_instalments" type="xs:long" use="required" />
      <xs:attribute name="apr" type="xs:double" use="optional" />
      <xs:attribute name="first_instalment" type="xs:double" use="optional" />
      <xs:attribute name="other_instalment" type="xs:double" use="optional" />
      <xs:attribute name="last_instalment" type="xs:double" use="optional" />
      <xs:attribute name="pay_protection" type="xs:string" use="required" />
      <xs:attribute name="cost_of_protection" type="xs:double" use="optional" />
      <xs:attribute name="total_cost" type="xs:double" use="required" />
      <xs:attribute name="contact_name" type="xs:string" use="optional" />
      <xs:attribute name="surname" type="xs:string" use="optional" />
      <xs:attribute name="address1" type="xs:string" use="optional" />
      <xs:attribute name="address2" type="xs:string" use="optional" />
      <xs:attribute name="address3" type="xs:string" use="optional" />
      <xs:attribute name="address4" type="xs:string" use="optional" />
      <xs:attribute name="area_code" type="xs:string" use="optional" />
      <xs:attribute name="postal_code" type="xs:string" use="optional" />
      <xs:attribute name="country_code" type="xs:string" use="optional" />
      <xs:attribute name="phone_number" type="xs:string" use="optional" />
      <xs:attribute name="bank_sort_code" type="xs:string" use="optional" />
      <xs:attribute name="account_number" type="xs:string" use="optional" />
      <xs:attribute name="sepa_bic" type="xs:string" use="optional" />
      <xs:attribute name="sepa_iban" type="xs:string" use="optional" />
      <xs:attribute name="pfrf_id" type="xs:long" use="optional" />
      <xs:attribute name="StartDate" type="xs:dateTime" use="optional" />
      <xs:attribute name="EndDate" type="xs:dateTime" use="optional" />
      <xs:attribute name="BankName" type="xs:string" use="optional" />
      <xs:attribute name="BankBranch" type="xs:string" use="optional" />
      <xs:attribute name="BankAddr1" type="xs:string" use="optional" />
      <xs:attribute name="BankAddr2" type="xs:string" use="optional" />
      <xs:attribute name="BankAddr3" type="xs:string" use="optional" />
      <xs:attribute name="BankTown" type="xs:string" use="optional" />
      <xs:attribute name="BankPCode" type="xs:string" use="optional" />
      <xs:attribute name="BankRegion" type="xs:string" use="optional" />
      <xs:attribute name="BankCountry" type="xs:string" use="optional" />
      <xs:attribute name="BankAreaCode" type="xs:string" use="optional" />
      <xs:attribute name="BankPhoneNo" type="xs:string" use="optional" />
      <xs:attribute name="BankExtension" type="xs:string" use="optional" />
      <xs:attribute name="BankFaxAreaCode" type="xs:string" use="optional" />
      <xs:attribute name="BankFaxNo" type="xs:string" use="optional" />
      <xs:attribute name="BankAccountName" type="xs:string" use="optional" />
      <xs:attribute name="cc_number" type="xs:string" use="optional" />
      <xs:attribute name="cc_expiry_date" type="xs:string" use="optional" />
      <xs:attribute name="cc_start_date" type="xs:string" use="optional" />
      <xs:attribute name="cc_issue" type="xs:string" use="optional" />
      <xs:attribute name="cc_pin" type="xs:string" use="optional" />
      <xs:attribute name="agent_cnt" type="xs:long" use="optional" />
      <xs:attribute name="agent_ref" type="xs:string" use="optional" />
      <xs:attribute name="date_created" type="xs:dateTime" use="optional" />
      <xs:attribute name="date_modified" type="xs:dateTime" use="optional" />
      <xs:attribute name="date_confirmed" type="xs:dateTime" use="optional" />
      <xs:attribute name="date_review" type="xs:dateTime" use="optional" />
      <xs:attribute name="date_laststatement" type="xs:dateTime" use="optional" />
      <xs:attribute name="date_lastgeneration" type="xs:dateTime" use="optional" />
      <xs:attribute name="final_statement_set" type="xs:long" use="optional" />
      <xs:attribute name="no_statements" type="xs:long" use="optional" />
      <xs:attribute name="is_cardholder" type="xs:long" use="optional" />
      <xs:attribute name="cardholder_name" type="xs:string" use="optional" />
      <xs:attribute name="cardholder_address1" type="xs:string" use="optional" />
      <xs:attribute name="cardholder_address2" type="xs:string" use="optional" />
      <xs:attribute name="cardholder_address3" type="xs:string" use="optional" />
      <xs:attribute name="cardholder_address4" type="xs:string" use="optional" />
      <xs:attribute name="cardholder_postcode" type="xs:string" use="optional" />
      <xs:attribute name="card_type" type="xs:string" use="optional" />
      <xs:attribute name="datebankdetailschanged" type="xs:string" use="optional" />
      <xs:attribute name="scheme_type" type="xs:string" use="optional" />
      <xs:attribute name="email_address" type="xs:string" use="optional" />
      
      <xs:attribute name="title" type="xs:string" use="optional" />
      <xs:attribute name="renewal_date" type="xs:dateTime" use="optional" />
      <xs:attribute name="business_type" type="xs:string" use="optional" />
      <xs:attribute name="cust_charge_percent" type="xs:double" use="optional" />
      <xs:attribute name="ppd" type="xs:dateTime" use="optional" />
      <xs:attribute name="dob" type="xs:string" use="optional" />
      <xs:attribute name="broker" type="xs:string" use="optional" />
      <xs:attribute name="forename" type="xs:string" use="optional" />
      <xs:attribute name="new_insurance_ref" type="xs:string" use="optional" />
      <xs:attribute name="instalment_plan_ref" type="xs:string" use="optional" />
      <xs:attribute name="mta_type" type="xs:string" use="optional" />
      <xs:attribute name="mta_amount" type="xs:double" use="optional" />
      <xs:attribute name="entry_type" type="xs:string" use="optional" />
      <xs:attribute name="cancellation_code" type="xs:string" use="optional" />
     
    </xs:complexType>
  </xs:element>
</xs:schema>

