Orion/Components/ImportExport/Interface/SiriusExport/MID_Export.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.siriusfs.com/SFI/Export/MID_Export/20060420" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:NS="http://www.siriusfs.com/SFI/Export/MID_Export /20060420" targetNamespace="http://www.siriusfs.com/SFI/Export/MID_Export/20060420" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="EXPORT_HEADER">
		<xs:annotation>
			<xs:documentation>Sirius Export Header</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="EXPORT_POLICY"/>
			</xs:sequence>
      <xs:attribute name="interface_name" type="xs:string" use="required" fixed="MID_Export"/>
      <xs:attribute name="date_exported" type="xs:dateTime" use="required"/>
      <xs:attribute name="batch_id" type="xs:long" use="required"/>
      <xs:attribute name="batch_reference" type="xs:string" use="required"/>
      <xs:attribute name="file_Seq_Number" type="xs:string" use="required"/>
      <xs:attribute name="supplier_type" type="xs:string"/>
      <xs:attribute name="supplier_id" type="xs:long"/>
      <xs:attribute name="site_number" type="xs:long"/>
      <xs:attribute name="test_indicator" type="xs:boolean"/>
      <xs:attribute name="total_transactions" type="xs:long" use="required"/>
      <xs:attribute name="total_amount" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXPORT_POLICY">
		<xs:annotation>
			<xs:documentation>MID Policy Record</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="mid_policy_key" type="xs:long" use="required"/>
			<xs:attribute name="insurance_file_key" type="xs:long" use="required"/>
			<xs:attribute name="insurance_file_version" type="xs:long" use="required"/>
			<xs:attribute name="insured_key" type="xs:long" use="required"/>
			<xs:attribute name="insurance_ref" type="xs:string" use="required"/>
			<xs:attribute name="insurance_file_type_code" type="xs:string" use="required"/>
			<xs:attribute name="insurance_file_status_code" type="xs:string" use="required"/>
			<xs:attribute name="update_type" type="xs:string" use="required"/>
			<xs:attribute name="ppcc" type="xs:int" use="required"/>
			<xs:attribute name="insured_name" type="xs:string" use="required"/>
      <xs:attribute name="policyholder_dob" type="xs:dateTime"/>
      <xs:attribute name="Policyholder_DrivingOtherVehicles" type="xs:string"/>      
      <xs:attribute name="insured_address1" type="xs:string"/>
			<xs:attribute name="insured_address2" type="xs:string"/>
			<xs:attribute name="insured_address3" type="xs:string"/>
			<xs:attribute name="insured_address4" type="xs:string"/>
			<xs:attribute name="insured_postcode" type="xs:string"/>
			<xs:attribute name="insured_telephone" type="xs:string"/>
			<xs:attribute name="cover_start_date" type="xs:dateTime" use="required"/>
			<xs:attribute name="cover_end_date" type="xs:dateTime" use="required"/>
			<xs:attribute name="reject_reference" type="xs:string"/>
			<xs:attribute name="reject_code" type="xs:string"/>
      <xs:attribute name="insurer_id" type="xs:string"/>
      <xs:attribute name="delegated_authority_id" type="xs:string"/>
      <xs:attribute name="da_branch_id" type="xs:string"/>
      <xs:attribute name="party_type_code" type="xs:string"/>
      <xs:attribute name="mid_vehicle_key" type="xs:long" use="required"/>
			<xs:attribute name="registration" type="xs:string" use="required"/>
			<xs:attribute name="is_foreign_registration" type="xs:boolean"/>
			<xs:attribute name="is_trade_registration" type="xs:boolean"/>
			<xs:attribute name="make" type="xs:string"/>
			<xs:attribute name="model" type="xs:string"/>
      <xs:attribute name="Vehicle_CoverType" type="xs:string"/>
      <xs:attribute name="Vehicle_VIN" type="xs:string"/>
      <xs:attribute name="on_date" type="xs:dateTime" use="required"/>
			<xs:attribute name="off_date" type="xs:dateTime" use="required"/>
      <xs:attribute name="vehicle_reject_reference" type="xs:string"/>
      <xs:attribute name="vehicle_reject_code" type="xs:string"/>
      <xs:attribute name="permitted_drivers" type="xs:string"/>
      <xs:attribute name="class_use" type="xs:string"/>
    </xs:complexType>
	</xs:element>
</xs:schema>
