Orion/Components/ImportExport/Interface/SiriusExport/Payment_Export.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.siriusfs.com/SFI/Export/Payment_Export/20060420" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:NS="http://www.siriusfs.com/SFI/Export/Payment_Export/20060420" targetNamespace="http://www.siriusfs.com/SFI/Export/Payment_Export/20060420" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="EXPORT_HEADER">
    <xs:annotation>
      <xs:documentation>Sirius Export Header</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="PAYMENT" />
      </xs:sequence>
      <xs:attribute name="date_exported" type="xs:dateTime" use="optional" />
      <xs:attribute name="interface_name" type="xs:string" use="required" fixed="Payment_Export" />
      <xs:attribute name="batch_id" type="xs:long" use="optional" />
      <xs:attribute name="batch_reference" type="xs:string" use="optional" />
      <xs:attribute name="bank_account_name" type="xs:string" use="optional" />
      <xs:attribute name="media_type_code" type="xs:string" use="optional" />
      <xs:attribute name="lead_days" type="xs:long" use="optional" />
      <xs:attribute name="total_transactions" type="xs:long" />
      <xs:attribute name="total_amount" type="xs:double" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PAYMENT">
    <xs:annotation>
      <xs:documentation>Sirius Payment Import Data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="CLAIM" />
      </xs:sequence>
      <xs:attribute name="cashlistitem_id" type="xs:long" />
      <xs:attribute name="payment_type_code" type="xs:string" use="required" />
      <xs:attribute name="media_type_code" type="xs:string" use="required" />
      <xs:attribute name="mediatype_issuer_code" type="xs:string" use="optional" />
      <xs:attribute name="bankaccount_code" type="xs:string" use="required" />
	  <xs:attribute name="bankaccount_number" type="xs:string" use="optional" />
	  <xs:attribute name="bankaccount_bic" type="xs:string" use="optional" />
      <xs:attribute name="account_code" type="xs:string" use="required" />
      <xs:attribute name="cheque_number" type="xs:string" use="required" />
      <xs:attribute name="our_reference" type="xs:string" use="required" />
      <xs:attribute name="their_reference" type="xs:string" use="required" />
      <xs:attribute name="transaction_date" type="xs:dateTime" use="required" />
      <xs:attribute name="cheque_date" type="xs:dateTime" use="optional" />
      <xs:attribute name="currency_code" type="xs:string" use="required" />
      <xs:attribute name="amount" type="xs:double" use="required" />
      <xs:attribute name="contact_name" type="xs:string" use="optional" />
      <xs:attribute name="address1" type="xs:string" use="optional" />
      <xs:attribute name="address2" type="xs:string" use="optional" />
      <xs:attribute name="address3" type="xs:string" use="optional" />
      <xs:attribute name="address4" type="xs:string" use="optional" />
      <xs:attribute name="postal_code" type="xs:string" use="optional" />
      <xs:attribute name="country_code" type="xs:string" use="optional" />
      <xs:attribute name="payment_name" type="xs:string" use="optional" />
	  <xs:attribute name="payment_account_type" type="xs:string" use="optional" />
	  <xs:attribute name="payment_bank_name" type="xs:string" use="optional" />
	  <xs:attribute name="payment_bank_country" type="xs:string" use="optional" />
      <xs:attribute name="payment_account_code" type="xs:string" use="optional" />
      <xs:attribute name="sepa_payment_bic" type="xs:string" use="optional" />
      <xs:attribute name="sepa_payment_iban" type="xs:string" use="optional" />
      <xs:attribute name="payment_branch_code" type="xs:string" use="optional" />
      <xs:attribute name="payment_expiry_date" type="xs:dateTime" use="optional" />
      <xs:attribute name="payment_reference1" type="xs:string" use="optional" />
      <xs:attribute name="payment_reference2" type="xs:string" use="optional" />
      <xs:attribute name="cc_name" type="xs:string" use="optional" />
      <xs:attribute name="cc_number" type="xs:string" use="optional" />
      <xs:attribute name="cc_expiry_date" type="xs:string" use="optional" />
      <xs:attribute name="cc_start_date" type="xs:string" use="optional" />
      <xs:attribute name="cc_issue" type="xs:string" use="optional" />
      <xs:attribute name="cc_pin" type="xs:string" use="optional" />
      <xs:attribute name="cc_auth_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_manual_auth_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_transaction_code" type="xs:string" use="optional" />
      <xs:attribute name="cc_customer" type="xs:string" use="optional" />
      <xs:attribute name="user_name" type="xs:string" use="required" />
      <xs:attribute name="tax_number" type="xs:string" />
      <xs:attribute name="payee_number" type="xs:string" />
      <xs:attribute name="transdetail_id" type="xs:long" />
      <xs:attribute name="merchant_id" type="xs:string" />
      <xs:attribute name="policy_number" type="xs:string" />
      <xs:attribute name="policy_holder" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CLAIM">
    <xs:complexType>
      <xs:sequence>
      </xs:sequence>
      <xs:attribute name="claim_number" type="xs:string" />
      <xs:attribute name="loss_year" type="xs:string" />
      <xs:attribute name="allocation_amount" type="xs:double" />
      <xs:attribute name="policy_number" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>
