Web Services/STS/SAM Solution/XML Schemas/Sirius For Underwriting/BaseTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Richard Taylor (Sirius Financial Systems Plc) -->
<xs:schema xmlns="http://www.siriusfs.com/SFI/SAM/BaseTypes/20050929" xmlns:tns="http://www.siriusfs.com/SFI/SAM/BaseTypes/20050929" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siriusfs.com/SFI/SAM/BaseTypes/20050929" elementFormDefault="qualified">
	<xs:include schemaLocation="EnumeratedLists.xsd"/>
	<xs:complexType name="STSErrorType">
		<xs:annotation>
			<xs:documentation>Errors that relate to the SAM web method call (either incorrect/missing data or processing logic)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InvalidData" type="ArrayOfSTSErrorInvalidData" minOccurs="0"/>
			<xs:element name="STSBusinessRule" type="STSErrorSTSBusinessRuleType" minOccurs="0"/>
			<xs:element name="SiriusBackOffice" type="STSErrorSiriusBackOfficeType" minOccurs="0"/>
			<xs:element name="InternalException" type="STSErrorInternalExceptionType" minOccurs="0"/>
			<xs:element name="WebService" type="xs:string" minOccurs="0"/>
			<xs:element name="WebMethod" type="xs:string" minOccurs="0"/>
			<xs:element name="Label" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STSErrorInvalidDataType">
		<xs:annotation>
			<xs:documentation>Errors of this type will have been caused by the request containing incorrect or missing data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FieldName" type="xs:string" minOccurs="0"/>
			<xs:element name="Code" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="SuppliedValue" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STSErrorSTSBusinessRuleType">
		<xs:annotation>
			<xs:documentation>Before passing the request to the back office, the SAM will check that the request can and should be processed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Detail" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STSErrorSiriusBackOfficeType">
		<xs:annotation>
			<xs:documentation>If a failure occurred in the backoffice the message will describe the error in general, but you will need to examine the backoffice logs to determine the precise error.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReturnValue" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STSErrorInternalExceptionType">
		<xs:annotation>
			<xs:documentation>These errors are caught by SAM during the processing of the method, such as back office being unavailable or an exception occurring within the internal SAM code.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfSTSErrorInvalidData">
		<xs:annotation>
			<xs:documentation>Conatins a list of invalid data items passed into the web service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="STSErrorInvalidData" type="STSErrorInvalidDataType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseRequestType" abstract="true">
		<xs:sequence>
			<xs:element name="BranchCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseResponseType" abstract="true">
		<xs:sequence minOccurs="0">
			<xs:element name="STSErrorType" type="STSErrorType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseAddAddressRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseAddressType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseAddAddressResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="AddressKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseAddressType">
		<xs:sequence>
			<xs:element name="AddressTypeCode" type="AddressTypeType"/>
			<xs:element name="AddressLine1" type="xs:string"/>
			<xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressLine3" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressLine4" type="xs:string" minOccurs="0"/>
			<xs:element name="CountryCode" type="xs:string"/>
			<xs:element name="PostCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseSearchCriteriaType">
		<xs:sequence>
			<xs:element name="ObjectName" type="xs:string"/>
			<xs:element name="PropertyName" type="xs:string"/>
			<xs:element name="Value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseAddPartyRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="PersonalClient" type="BasePartyPCType"/>
						<xs:element name="CorporateClient" type="BasePartyCCType"/>
					</xs:choice>
					<xs:element name="SubBranchCode" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseAddPartyResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="PartyKey" type="xs:int"/>
					<xs:element name="Shortname" type="xs:string"/>
					<xs:element name="PartyTimestamp" type="xs:base64Binary"/>
					<xs:element name="ResolvedName" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseAddQuoteRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseQuoteType">
				<xs:sequence>
					<xs:element name="PartyKey" type="xs:int"/>
					<xs:element name="SubBranchCode" type="xs:string" minOccurs="0"/>
					<xs:element name="ConsolidatedLeadAgentCommission" type="xs:boolean" minOccurs="0"/>
					<xs:element name="ConsolidatedSubAgentCommission" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseAddQuoteResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="InsuranceFileRef" type="xs:string" minOccurs="0"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="QuoteExpiryDate" type="xs:dateTime"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseAddRiskRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRiskType">
				<xs:sequence>
					<xs:element name="SubBranchCode" type="xs:string" minOccurs="0"/>
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="ProductCode" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseAddRiskResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="RiskFolderKey" type="xs:int"/>
					<xs:element name="RiskKey" type="xs:int"/>
					<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseBindQuoteRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="InsuranceFileKey" type="xs:integer"/>
					<xs:element name="PaymentMethod" type="PaymentMethodType" minOccurs="0"/>
					<xs:element name="SelectedInstalmentQuote" type="BaseSelectedInstalmentQuoteType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseBindQuoteResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:BaseTransactResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseBranchType" mixed="false">
		<xs:sequence>
			<xs:element name="BranchCode" type="xs:string"/>
			<xs:element name="Description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseContactDetailType">
		<xs:choice>
			<xs:element name="EmailAddress" type="xs:string"/>
			<xs:element name="Number" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BaseContactType">
		<xs:sequence>
			<xs:element name="ContactTypeCode" type="ContactTypeType"/>
			<xs:element name="ContactDetail" type="BaseContactDetailType"/>
			<xs:element name="AreaCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseChangePasswordRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="Password" type="xs:string" minOccurs="0"/>
					<xs:element name="NewPassword" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseChangePasswordResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseCreateEventRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="PartyKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int" minOccurs="0"/>
					<xs:element name="InsuranceFolderKey" type="xs:int" minOccurs="0"/>
					<xs:element name="ClaimKey" type="xs:int" minOccurs="0"/>
					<xs:element name="EventText" type="xs:string"/>
					<xs:element name="EventNote" type="xs:string" minOccurs="0"/>
					<xs:element name="AttachedFile" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="Filename" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseCreateEventResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseDeleteRiskRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="RiskKey" type="xs:int"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseDeleteRiskResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseFindControlSearchRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="FindControlKey" type="xs:int"/>
					<xs:element name="SearchCriteria" type="tns:BaseSearchCriteriaType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseFindControlSearchResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Matches">
						<xs:complexType>
							<xs:sequence>
								<xs:any id="Matches" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseFindPartyRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="PartyType" type="tns:PartyTypeType" minOccurs="0"/>
					<xs:element name="Shortname" type="xs:string" minOccurs="0"/>
					<xs:element name="AlternativeId" type="xs:string" minOccurs="0"/>
					<xs:element name="Name" type="xs:string" minOccurs="0"/>
					<xs:element name="Firstname" type="xs:string" minOccurs="0"/>
					<xs:element name="AddressLine1" type="xs:string" minOccurs="0"/>
					<xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
					<xs:element name="AddressLine3" type="xs:string" minOccurs="0"/>
					<xs:element name="AddressLine4" type="xs:string" minOccurs="0"/>
					<xs:element name="PostCode" type="xs:string" minOccurs="0"/>
					<xs:element name="AreaCode" type="xs:string" minOccurs="0"/>
					<xs:element name="TelephoneNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="DateOfBirth" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="PolicyRef" type="xs:string" minOccurs="0"/>
					<xs:element name="RiskIndex" type="xs:string" minOccurs="0"/>
					<xs:element name="FileCode" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseFindPartyResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Parties" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="PartyKey" type="xs:int"/>
											<xs:element name="ShortName" type="xs:string"/>
											<xs:element name="ResolvedName" type="xs:string"/>
											<xs:element name="AddressLine1" type="xs:string" minOccurs="0"/>
											<xs:element name="PostCode" type="xs:string" minOccurs="0"/>
											<xs:element name="ContactTelephoneNumber" type="xs:string" minOccurs="0"/>
											<xs:element name="DateOfBirth" type="xs:dateTime" minOccurs="0"/>
											<xs:element name="AgentKey" type="xs:int" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseForgottenPasswordRequestType">
		<xs:complexContent>
			<xs:extension base="tns:BaseRequestType">
				<xs:sequence>
					<xs:element name="UserName" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseForgottenPasswordResponseType">
		<xs:complexContent>
			<xs:extension base="tns:BaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGenerateDocumentRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="DocumentTemplateCode" type="xs:string" minOccurs="0"/>
					<xs:element name="Mode" type="xs:int"/>
					<xs:element name="PartyKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
					<xs:element name="ParameterXML" type="xs:string" minOccurs="0"/>
					<xs:element name="OutputAsHTML" type="xs:boolean"/>
					<xs:element name="OutputAsPDF" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetCurrenciesByBranchRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetCurrenciesByBranchResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Currencies" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CurrencyCode" type="xs:string"/>
											<xs:element name="Description" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGenerateDocumentResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="SpooledZipFile" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="MergedFilePath" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetProductByAgentRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="AgentKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetProductByAgentResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="Products" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ProductKey" type="xs:int"/>
											<xs:element name="ProductCode" type="xs:string"/>
											<xs:element name="Description" type="xs:string"/>
											<xs:element name="SchemeAgencyRef" type="xs:string" minOccurs="0"/>
											<xs:element name="BlockNumber" type="xs:string" minOccurs="0"/>
											<xs:element name="ConsolidatedLeadAgentCommission" type="xs:boolean"/>
											<xs:element name="ConsolidatedSubAgentCommission" type="xs:boolean"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetRatingDetailsRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="RiskKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetRatingDetailsResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="RatingDetails" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RatingSectionType" type="xs:string"/>
											<xs:element name="PolicySectionType" type="xs:string"/>
											<xs:element name="RateType" type="xs:string"/>
											<xs:element name="AnnualRate" type="xs:decimal"/>
											<xs:element name="SumInsured" type="xs:decimal"/>
											<xs:element name="ThisPremium" type="xs:decimal"/>
											<xs:element name="AnnualPremium" type="xs:decimal"/>
											<xs:element name="Country" type="xs:string"/>
											<xs:element name="State" type="xs:string"/>
											<xs:element name="RatingSectionId" type="xs:int"/>
											<xs:element name="RatingSectionTypeId" type="xs:int"/>
											<xs:element name="PolicySectionTypeId" type="xs:int"/>
											<xs:element name="RateTypeId" type="xs:int"/>
											<xs:element name="OriginalFlag" type="xs:int"/>
											<xs:element name="CurrencyId" type="xs:int"/>
											<xs:element name="CountryId" type="xs:int"/>
											<xs:element name="StateId" type="xs:int"/>
											<xs:element name="IsAmended" type="xs:int"/>
											<xs:element name="CalculatedPremium" type="xs:decimal"/>
											<xs:element name="OverrideReason" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetRiskByProductRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="ProductCode" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetRiskByProductResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="Risks" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RiskTypeKey" type="xs:int"/>
											<xs:element name="RiskTypeCode" type="xs:string"/>
											<xs:element name="Description" type="xs:string"/>
											<xs:element name="ScreenKey" type="xs:int"/>
											<xs:element name="DataModelCode" type="xs:string"/>
											<xs:element name="ScreenCode" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetAddressRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="AddressKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetAddressResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Address" type="BaseAddressType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetAllPolicyVersionsRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetAllPolicyVersionsResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Policies" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="InsuranceFolderKey" type="xs:int"/>
											<xs:element name="insuranceFileKey" type="xs:int"/>
											<xs:element name="InsuranceHolderKey" type="xs:int"/>
											<xs:element name="PolicyTypeCode" type="xs:string" minOccurs="0"/>
											<xs:element name="PolicyRef" type="xs:string"/>
											<xs:element name="InsuranceFileTypeDesc" type="xs:string"/>
											<xs:element name="ProductDesc" type="xs:string"/>
											<xs:element name="RenewalDate" type="xs:dateTime"/>
											<xs:element name="PartyShortName" type="xs:string"/>
											<xs:element name="Premium" type="xs:double" minOccurs="0"/>
											<xs:element name="InsuranceFileTypeCode" type="xs:string"/>
											<xs:element name="InsuranceFileTypeKey" type="xs:int"/>
											<xs:element name="CoverStartDate" type="xs:dateTime"/>
											<xs:element name="ExpiryDate" type="xs:dateTime"/>
											<xs:element name="QuoteExpiryDate" type="xs:dateTime" minOccurs="0"/>
											<xs:element name="EventDesc" type="xs:string" minOccurs="0"/>
											<xs:element name="TaxAmount" type="xs:double" minOccurs="0"/>
											<xs:element name="GracePeriod" type="xs:int"/>
											<xs:element name="ProductCode" type="xs:string"/>
											<xs:element name="PolicyVersion" type="xs:int"/>
											<xs:element name="PaymentMethod" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetDatasetDefinitionRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="DataModelCode" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetDatasetDefinitionResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="XMLDatasetDefinition" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetDatasetSchemaRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="DataModelCode" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetDatasetSchemaResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="DatasetSchema" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetDefaultDatasetRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="ScreenCode" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetDefaultDatasetResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetHeaderAndSummariesByKeyRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetHeaderAndSummariesResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="PartyKey" type="xs:int"/>
					<xs:element name="CoverStartDate" type="xs:dateTime"/>
					<xs:element name="CoverEndDate" type="xs:dateTime"/>
					<xs:element name="Description" type="xs:string" minOccurs="0"/>
					<xs:element name="ProductCode" type="xs:string" minOccurs="0"/>
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="InsuranceFileRef" type="xs:string" minOccurs="0"/>
					<xs:element name="QuoteExpiryDate" type="xs:dateTime"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="QuoteIsLocked" type="xs:boolean"/>
					<xs:element name="Risks" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RiskKey" type="xs:int"/>
											<xs:element name="RiskFolderKey" type="xs:int"/>
											<xs:element name="RiskTypeCode" type="xs:string"/>
											<xs:element name="Description" type="xs:string" minOccurs="0"/>
											<xs:element name="TotalSumInsured" type="xs:double" minOccurs="0"/>
											<xs:element name="Premium" type="xs:double" minOccurs="0"/>
											<xs:element name="StatusCode" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="SubBranchCode" type="xs:string" minOccurs="0"/>
					<xs:element name="ConsolidatedLeadAgentCommission" type="xs:boolean"/>
					<xs:element name="ConsolidatedSubAgentCommission" type="xs:boolean"/>
					<xs:element name="CurrencyCode" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetHeaderAndSummariesByRefRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="InsuranceRef" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseInstalmentQuoteType" mixed="false">
		<xs:sequence>
			<xs:element name="CompanyNo" type="xs:int"/>
			<xs:element name="CompanyName" type="xs:string"/>
			<xs:element name="SchemeNo" type="xs:int"/>
			<xs:element name="SchemeVersion" type="xs:int"/>
			<xs:element name="SchemeName" type="xs:string"/>
			<xs:element name="FrequencyID" type="xs:int"/>
			<xs:element name="FrequencyDescription" type="xs:string"/>
			<xs:element name="MediaTypeID" type="xs:int"/>
			<xs:element name="MediaTypeDescription" type="xs:string"/>
			<xs:element name="ProductClass" type="xs:string"/>
			<xs:element name="ProductCode" type="xs:string"/>
			<xs:element name="TotalAmountInput" type="xs:double"/>
			<xs:element name="InstalmentsToPay" type="xs:int"/>
			<xs:element name="FirstInstalmentDate" type="xs:dateTime"/>
			<xs:element name="NextInstalmentDate" type="xs:dateTime"/>
			<xs:element name="LastInstalmentDate" type="xs:dateTime"/>
			<xs:element name="FirstInstalmentAmount" type="xs:double"/>
			<xs:element name="OtherInstalmentAmount" type="xs:double"/>
			<xs:element name="TotalInstalmentsAmount" type="xs:double"/>
			<xs:element name="AprRate" type="xs:double"/>
			<xs:element name="InterestRate" type="xs:double"/>
			<xs:element name="DaysDelay" type="xs:int"/>
			<xs:element name="DepositAmount" type="xs:double"/>
			<xs:element name="InterestAmount" type="xs:double"/>
			<xs:element name="TaxAmount" type="xs:double"/>
			<xs:element name="FinanceCharge" type="xs:double"/>
			<xs:element name="ProtectionAmount" type="xs:double"/>
			<xs:element name="OriginalOtherInstalmentAmount" type="xs:double"/>
			<xs:element name="HighlightCell" type="xs:int"/>
			<xs:element name="SchemeTypeCode" type="xs:int"/>
			<xs:element name="MediaTypeValidation" type="xs:int"/>
			<xs:element name="FrequencyPerYear" type="xs:int"/>
			<xs:element name="PFRF_ID" type="xs:int"/>
			<xs:element name="FrequencyPeriod" type="xs:int"/>
			<xs:element name="FrequencyAmount" type="xs:double"/>
			<xs:element name="OriginalAmount" type="xs:double"/>
			<xs:element name="ClaimDebtID" type="xs:int"/>
			<xs:element name="UserID" type="xs:string"/>
			<xs:element name="AgentCnt" type="xs:int"/>
			<xs:element name="AgentRef" type="xs:string"/>
			<xs:element name="LastInstalmentAmount" type="xs:double"/>
			<xs:element name="Username" type="xs:string"/>
			<xs:element name="Password" type="xs:string"/>
			<xs:element name="BrokerID" type="xs:int"/>
			<xs:element name="BrokerURL" type="xs:int"/>
			<xs:element name="Timeout" type="xs:int"/>
			<xs:element name="ProviderCode" type="xs:string"/>
			<xs:element name="Terms" type="xs:string"/>
			<xs:element name="Ref" type="xs:string"/>
			<xs:element name="OriginalRate" type="xs:double"/>
			<xs:element name="RefundType" type="xs:int"/>
			<xs:element name="MinMTA" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseGetInstalmentQuotesRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="QuoteDate" type="xs:dateTime"/>
					<xs:element name="StartDate" type="xs:dateTime"/>
					<xs:element name="EndDate" type="xs:dateTime"/>
					<xs:element name="PreferredDate" type="xs:dateTime"/>
					<xs:element name="MonthDay" type="xs:int"/>
					<xs:element name="WeekDay" type="xs:int"/>
					<xs:element name="AmountToFinance" type="xs:double"/>
					<xs:element name="PaymentProtection" type="xs:boolean"/>
					<xs:element name="OverrideRate" type="xs:double"/>
					<xs:element name="OverrideInterestRate" type="xs:double"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetInstalmentQuotesResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="Quotes" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CompanyNo" type="xs:int"/>
											<xs:element name="CompanyName" type="xs:string"/>
											<xs:element name="SchemeNo" type="xs:int"/>
											<xs:element name="SchemeVersion" type="xs:int"/>
											<xs:element name="SchemeName" type="xs:string"/>
											<xs:element name="FrequencyID" type="xs:int"/>
											<xs:element name="FrequencyDescription" type="xs:string"/>
											<xs:element name="MediaTypeID" type="xs:int"/>
											<xs:element name="MediaTypeDescription" type="xs:string"/>
											<xs:element name="ProductClass" type="xs:string"/>
											<xs:element name="ProductCode" type="xs:string"/>
											<xs:element name="TotalAmountInput" type="xs:double"/>
											<xs:element name="InstalmentsToPay" type="xs:int"/>
											<xs:element name="FirstInstalmentDate" type="xs:dateTime"/>
											<xs:element name="NextInstalmentDate" type="xs:dateTime"/>
											<xs:element name="LastInstalmentDate" type="xs:dateTime"/>
											<xs:element name="FirstInstalmentAmount" type="xs:double"/>
											<xs:element name="OtherInstalmentAmount" type="xs:double"/>
											<xs:element name="TotalInstalmentsAmount" type="xs:double"/>
											<xs:element name="AprRate" type="xs:double"/>
											<xs:element name="InterestRate" type="xs:double"/>
											<xs:element name="DaysDelay" type="xs:int"/>
											<xs:element name="DepositAmount" type="xs:double"/>
											<xs:element name="InterestAmount" type="xs:double"/>
											<xs:element name="TaxAmount" type="xs:double"/>
											<xs:element name="FinanceCharge" type="xs:double"/>
											<xs:element name="ProtectionAmount" type="xs:double"/>
											<xs:element name="OriginalOtherInstalmentAmount" type="xs:double"/>
											<xs:element name="HighlightCell" type="xs:int"/>
											<xs:element name="SchemeTypeCode" type="xs:int"/>
											<xs:element name="MediaTypeValidation" type="xs:int"/>
											<xs:element name="FrequencyPerYear" type="xs:int"/>
											<xs:element name="PFRF_ID" type="xs:int"/>
											<xs:element name="FrequencyPeriod" type="xs:int"/>
											<xs:element name="FrequencyAmount" type="xs:double"/>
											<xs:element name="OriginalAmount" type="xs:double"/>
											<xs:element name="ClaimDebtID" type="xs:int"/>
											<xs:element name="UserID" type="xs:string"/>
											<xs:element name="AgentCnt" type="xs:int"/>
											<xs:element name="AgentRef" type="xs:string"/>
											<xs:element name="LastInstalmentAmount" type="xs:double"/>
											<xs:element name="Username" type="xs:string"/>
											<xs:element name="Password" type="xs:string"/>
											<xs:element name="BrokerID" type="xs:int"/>
											<xs:element name="BrokerURL" type="xs:int"/>
											<xs:element name="Timeout" type="xs:int"/>
											<xs:element name="ProviderCode" type="xs:string"/>
											<xs:element name="Terms" type="xs:string"/>
											<xs:element name="Ref" type="xs:string"/>
											<xs:element name="OriginalRate" type="xs:double"/>
											<xs:element name="RefundType" type="xs:int"/>
											<xs:element name="MinMTA" type="xs:int"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetListRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="ListType" type="STSListType"/>
					<xs:element name="ListCode" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetListResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="List" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Key" type="xs:int"/>
											<xs:element name="Description" type="xs:string"/>
											<xs:element name="Code" type="xs:string"/>
											<xs:element name="EffectiveDate" type="xs:dateTime"/>
											<xs:element name="IsDeleted" type="xs:boolean"/>
											<xs:element name="ParentKey" type="xs:int" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetPartyRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="PartyKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetPartyResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="PersoanlClient" type="BasePartyPCType"/>
						<xs:element name="CorporateClient" type="BasePartyCCType"/>
					</xs:choice>
					<xs:element name="PartyTimestamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetPartySummaryRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="PartyKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetPartySummaryResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="PersoanlClient" type="BasePartyPCType"/>
						<xs:element name="CorporateClient" type="BasePartyCCType"/>
					</xs:choice>
					<xs:element name="Policies" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="InsuranceFileId" type="xs:int"/>
											<xs:element name="BranchKey" type="xs:int"/>
											<xs:element name="BranchCode" type="xs:string"/>
											<xs:element name="InsuranceFileKey" type="xs:int"/>
											<xs:element name="PolicyRef" type="xs:string"/>
											<xs:element name="InsuranceFolderKey" type="xs:int"/>
											<xs:element name="PolicyTypeId" type="xs:int" minOccurs="0"/>
											<xs:element name="LeadInsurerKey" type="xs:int" minOccurs="0"/>
											<xs:element name="DateIssued" type="xs:dateTime" minOccurs="0"/>
											<xs:element name="CoverStartDate" type="xs:dateTime" minOccurs="0"/>
											<xs:element name="ExpiryDate" type="xs:dateTime" minOccurs="0"/>
											<xs:element name="RenewalDate" type="xs:dateTime" minOccurs="0"/>
											<xs:element name="InsuredKey" type="xs:int" minOccurs="0"/>
											<xs:element name="ProductKey" type="xs:int"/>
											<xs:element name="LeadAgentKey" type="xs:int" minOccurs="0"/>
											<xs:element name="ThisPremium" type="xs:double" minOccurs="0"/>
											<xs:element name="AnnualPremium" type="xs:double" minOccurs="0"/>
											<xs:element name="NetPremium" type="xs:double" minOccurs="0"/>
											<xs:element name="TaxAmount" type="xs:double" minOccurs="0"/>
											<xs:element name="GeminiPolicyStatus" type="xs:int" minOccurs="0"/>
											<xs:element name="PartyShortname" type="xs:string"/>
											<xs:element name="ProductCode" type="xs:string"/>
											<xs:element name="ProductDesc" type="xs:string"/>
											<xs:element name="InsuranceFileTypeCode" type="xs:string" minOccurs="0"/>
											<xs:element name="PolicyStatusCode" type="xs:string" minOccurs="0"/>
											<xs:element name="InsurerShortName" type="xs:string" minOccurs="0"/>
											<xs:element name="AgentShortName" type="xs:string" minOccurs="0"/>
											<xs:element name="PolicyTypeCode" type="xs:string" minOccurs="0"/>
											<xs:element name="PolicyTypeDesc" type="xs:string" minOccurs="0"/>
											<xs:element name="CurrencyCode" type="xs:string" minOccurs="0"/>
											<xs:element name="Regarding" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="PartyTimestamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetRiskRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="RiskKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetRiskResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
					<xs:element name="PremiumDueNet" type="xs:decimal"/>
					<xs:element name="PremiumDueTax" type="xs:decimal"/>
					<xs:element name="PremiumDueGross" type="xs:decimal"/>
					<xs:element name="TotalAnnualTax" type="xs:decimal"/>
					<xs:element name="CommissionAmount" type="xs:decimal"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="PolicyLevelTax" type="xs:decimal" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseLoginRequestType" mixed="false">
		<xs:sequence>
			<xs:element name="Username" type="xs:string"/>
			<xs:element name="Password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseLoginResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="PasswordChangeDate" type="xs:dateTime"/>
					<xs:element name="LastLogin" type="xs:dateTime"/>
					<xs:element name="FullUsername" type="xs:string" minOccurs="0"/>
					<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
					<xs:element name="SourceList" type="tns:BaseBranchType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ConsolidatedAgentCommission" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseLogoffRequestType" mixed="false">
		<xs:sequence>
			<xs:element name="UserName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseLogoffResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseNBQuoteRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="AgentCode" type="xs:string" minOccurs="0"/>
					<xs:element name="CurrencyCode" type="CurrencyType" minOccurs="0"/>
					<xs:choice id="Insured">
						<xs:element name="PersonalClient" type="BasePartyPCType"/>
						<xs:element name="CorporateClient" type="BasePartyCCType"/>
					</xs:choice>
					<xs:element name="Policy" type="BaseQuoteRiskMsgType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseNBQuoteResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Insured" type="BaseAddPartyResponseType"/>
					<xs:element name="Policy">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="PolicyID" type="xs:int"/>
								<xs:element name="QuoteRef" type="xs:string"/>
								<xs:element name="Risks" type="BaseRiskResultType" maxOccurs="unbounded"/>
								<xs:element name="PremiumDueNet" type="xs:decimal"/>
								<xs:element name="PremiumDueTax" type="xs:decimal"/>
								<xs:element name="PremiumDueGross" type="xs:decimal"/>
								<xs:element name="TotalAnnualTax" type="xs:decimal"/>
								<xs:element name="PolicyLevelTax" type="xs:decimal" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BasePartyType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="Addresses" type="BaseAddressType" maxOccurs="unbounded"/>
					<xs:element name="TPUserCode" type="xs:string" minOccurs="0"/>
					<xs:element name="TPIntroducer" type="xs:string" minOccurs="0"/>
					<xs:element name="Contacts" type="BaseContactType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="AccountExecutive" type="xs:string" minOccurs="0"/>
					<xs:element name="Currency" type="xs:string" minOccurs="0"/>
					<xs:element name="FileCode" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BasePartyPCType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BasePartyType">
				<xs:sequence>
					<xs:element name="Surname" type="xs:string"/>
					<xs:element name="Forename" type="xs:string"/>
					<xs:element name="DateOfBirth" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="Title" type="xs:string"/>
					<xs:element name="MaritalStatusCode" type="MaritalStatusCodeType" minOccurs="0"/>
					<xs:element name="GenderCode" type="xs:string" minOccurs="0"/>
					<xs:element name="Initials" type="xs:string"/>
					<xs:element name="OccupationCode" type="xs:string" minOccurs="0"/>
					<xs:element name="EmployersBusinessCode" type="xs:string" minOccurs="0"/>
					<xs:element name="EmploymentStatusCode" type="EmploymentStatusCodeType" minOccurs="0"/>
					<xs:element name="AlternativeId" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BasePartyCCType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BasePartyType">
				<xs:sequence>
					<xs:element name="CompanyName" type="xs:string"/>
					<xs:element name="BusinessCode" type="xs:string" minOccurs="0"/>
					<xs:element name="MainContact" type="xs:string" minOccurs="0"/>
					<xs:element name="NumberOfOffices" type="xs:int" minOccurs="0"/>
					<xs:element name="NumberOfEmployees" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseQuoteRiskMsgType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseQuoteType">
				<xs:sequence>
					<xs:element name="Risks" type="BaseRiskType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseQuoteType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="CoverStartDate" type="xs:dateTime"/>
					<xs:element name="CoverEndDate" type="xs:dateTime"/>
					<xs:element name="ProductCode" type="xs:string"/>
					<xs:element name="Description" type="xs:string" minOccurs="0"/>
					<xs:element name="QuoteRef" type="xs:string" minOccurs="0"/>
					<xs:element name="InsuredName" type="xs:string" minOccurs="0"/>
					<xs:element name="CurrencyCode" type="xs:string" minOccurs="0"/>
					<xs:element name="TransactionTypeCode" type="xs:string" minOccurs="0"/>
					<xs:element name="PolicyStatusCode" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseRiskType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="RiskTypeCode" type="xs:string"/>
					<xs:element name="ScreenCode" type="xs:string"/>
					<xs:element name="RiskDescription" type="xs:string" minOccurs="0"/>
					<xs:element name="DataModelCode" type="xs:string"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="RunDefaultRules" type="xs:boolean"/>
					<xs:element name="RiskFolderKey" type="xs:int" minOccurs="0"/>
					<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
					<xs:element name="ProductBuilderDetail" type="BaseProductBuilderRiskType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Taxes" type="BaseTaxesType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseRiskResultType" mixed="false">
		<xs:sequence>
			<xs:element name="RiskFolderID" type="xs:int"/>
			<xs:element name="RiskID" type="xs:int"/>
			<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
			<xs:element name="PremiumDueNet" type="xs:decimal"/>
			<xs:element name="PremiumDueTax" type="xs:decimal"/>
			<xs:element name="PremiumDueGross" type="xs:decimal"/>
			<xs:element name="TotalAnnualTax" type="xs:decimal"/>
			<xs:element name="CommissionAmount" type="xs:decimal"/>
			<xs:element name="PolicyLevelTax" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseRunDefaultRulesAddRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="ScreenCode" type="xs:string"/>
					<xs:element name="XMLDataSet" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseRunDefaultRulesAddResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseRunDefaultRulesEditRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="ScreenCode" type="xs:string"/>
					<xs:element name="XMLDataSet" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseRunDefaultRulesEditResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseTransactRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseTransactType">
				<xs:sequence>
					<xs:element name="Risks" type="BaseRiskType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseTransactType" mixed="false">
		<xs:sequence>
			<xs:element name="QuoteRef" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseTransactResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="Policy">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="PolicyRef" type="xs:string"/>
								<xs:element name="PremiumDueNet" type="xs:decimal"/>
								<xs:element name="PremiumDueTax" type="xs:decimal"/>
								<xs:element name="PremiumDueGross" type="xs:decimal"/>
								<xs:element name="TotalAnnualTax" type="xs:decimal"/>
								<xs:element name="CommissionAmount" type="xs:decimal"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseUpdateQuoteRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="CoverStartDate" type="xs:dateTime"/>
					<xs:element name="CoverEndDate" type="xs:dateTime"/>
					<xs:element name="InsuredParties" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:any/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Description" type="xs:string" minOccurs="0"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="CurrencyCode" type="xs:string" minOccurs="0"/>
					<xs:element name="ConsolidatedLeadAgentCommission" type="xs:boolean" minOccurs="0"/>
					<xs:element name="ConsolidatedSubAgentCommission" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseUpdateQuoteResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseUpdatePartyRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="SubBranchCode" type="xs:string" minOccurs="0"/>
					<xs:element name="PartyKey" type="xs:int"/>
					<xs:element name="PartyTimestamp" type="xs:base64Binary" minOccurs="0"/>
					<xs:choice>
						<xs:element name="PersonalClient" type="BasePartyPCType"/>
						<xs:element name="CorporateClient" type="BasePartyCCType"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseUpdatePartyResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="PartyTimestamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseUpdateRiskRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="SubBranchCode" type="xs:string" minOccurs="0"/>
					<xs:element name="InsuranceFolderKey" type="xs:int"/>
					<xs:element name="InsuranceFileKey" type="xs:int"/>
					<xs:element name="RiskKey" type="xs:int"/>
					<xs:element name="ScreenCode" type="xs:string" minOccurs="0"/>
					<xs:element name="RiskDescription" type="xs:string" minOccurs="0"/>
					<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseUpdateRiskResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence>
					<xs:element name="PremiumDueNet" type="xs:decimal"/>
					<xs:element name="PremiumDueTax" type="xs:decimal"/>
					<xs:element name="PremiumDueGross" type="xs:decimal"/>
					<xs:element name="TotalAnnualTax" type="xs:decimal"/>
					<xs:element name="CommissionAmount" type="xs:decimal"/>
					<xs:element name="XMLDataSet" type="xs:string" minOccurs="0"/>
					<xs:element name="QuoteTimeStamp" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="PolicyLevelTax" type="xs:decimal" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetClaimsRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="PartyKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetClaimsResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Claims" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ClaimKey" type="xs:int"/>
											<xs:element name="ClaimNumber" type="xs:string"/>
											<xs:element name="PolicyNumber" type="xs:string"/>
											<xs:element name="ClaimStatus" type="xs:string"/>
											<xs:element name="Regarding" type="xs:string"/>
											<xs:element name="Handler" type="xs:string"/>
											<xs:element name="PrimaryCause" type="xs:string"/>
											<xs:element name="LossDate" type="xs:dateTime"/>
											<xs:element name="ReportedDate" type="xs:dateTime"/>
											<xs:element name="Insurer" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetOpenTransactionsRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="PartyKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetOpenTransactionsResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Transactions" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DocumentKey" type="xs:int"/>
											<xs:element name="TransactionDate" type="xs:dateTime"/>
											<xs:element name="EffectiveDate" type="xs:dateTime"/>
											<xs:element name="DocRef" type="xs:string"/>
											<xs:element name="Reference" type="xs:string"/>
											<xs:element name="Amount" type="xs:double"/>
											<xs:element name="ISO" type="xs:string"/>
											<xs:element name="PaidDate" type="xs:dateTime"/>
											<xs:element name="OSAmount" type="xs:double"/>
											<xs:element name="Reason" type="xs:string"/>
											<xs:element name="Balance" type="xs:double"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetHistoricalTransactionsRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="PartyKey" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetHistoricalTransactionsResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Transactions" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DocumentKey" type="xs:int"/>
											<xs:element name="TransactionDate" type="xs:dateTime"/>
											<xs:element name="EffectiveDate" type="xs:dateTime"/>
											<xs:element name="DocRef" type="xs:string"/>
											<xs:element name="Reference" type="xs:string"/>
											<xs:element name="Amount" type="xs:double"/>
											<xs:element name="ISO" type="xs:string"/>
											<xs:element name="PaidDate" type="xs:dateTime"/>
											<xs:element name="Reason" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetOnlineClientListRequestType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseRequestType">
				<xs:sequence>
					<xs:element name="ChangedAfterDateTime" type="xs:dateTime"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseGetOnlineClientListResponseType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="BaseResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Clients" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Row">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="PartyKey" type="xs:int"/>
											<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
											<xs:element name="OnlineAccess" type="xs:boolean"/>
											<xs:element name="ResolvedName" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseSelectedInstalmentQuoteType" mixed="false">
		<xs:sequence>
			<xs:element name="SelectedSchemeNo" type="xs:int"/>
			<xs:element name="SelectedSchemeVersion" type="xs:int"/>
			<xs:element name="QuoteDate" type="xs:dateTime"/>
			<xs:element name="StartDate" type="xs:dateTime"/>
			<xs:element name="EndDate" type="xs:dateTime"/>
			<xs:element name="PreferredDate" type="xs:dateTime"/>
			<xs:element name="MonthDay" type="xs:int"/>
			<xs:element name="WeekDay" type="xs:int"/>
			<xs:element name="AmountToFinance" type="xs:double"/>
			<xs:element name="PaymentProtection" type="xs:boolean"/>
			<xs:element name="OverrideRate" type="xs:double"/>
			<xs:element name="OverrideInterestRate" type="xs:double"/>
			<xs:element name="AmountPaid" type="xs:double"/>
			<xs:element name="BankName" type="xs:string"/>
			<xs:element name="BankSortCode" type="xs:string"/>
			<xs:element name="BankAccountNo" type="xs:string"/>
			<xs:element name="BankAccountName" type="xs:string"/>
			<xs:element name="BankBranch" type="xs:string"/>
			<xs:element name="BankAddress" type="BaseAddressType"/>
			<xs:element name="BankAreaCode" type="xs:string" minOccurs="0"/>
			<xs:element name="BankPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="BankExtn" type="xs:string" minOccurs="0"/>
			<xs:element name="BankFaxCode" type="xs:string" minOccurs="0"/>
			<xs:element name="BankFax" type="xs:string" minOccurs="0"/>
			<xs:element name="PFRF_ID" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseProductBuilderRiskType">
		<xs:sequence>
			<xs:element name="ProductBuilderData">
				<xs:complexType>
					<xs:attribute name="ItemName" type="xs:string" use="required"/>
					<xs:attribute name="Value" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseTaxesType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Amount" type="xs:decimal"/>
			<xs:element name="TaxBandCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
