Navigator XM Roadmaps/navigatorxmV2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Internal Use (Sirius Financial Solutions Plc) -->
<!-- NavigatorXM Data Type Definition  -->
<!-- Revision History : RDC 02062003 Version 2.0 -->
<!-- Revision History : RFC 10062003 Changes required for conversion program. -->
<!--SET 27/01/2004:	Added optional parameters for 
	ShowWMTaskInterface - Displays an interface that allows the user to specify
	the user and/or group for the newly created task. Defaults to True.
		
	CheckSystemOption - Load the associated step based on the value of the system option. The step will
	only be loaded if the value returned matches the value specified in the 'SystemOptionValue'
	parameter. This parameter expects the numeric value of the system option to be checked.
		
	SystemOptionValue   - This option must be used in conjuntion with the CheckSystemOption.
	The associated step will only be loaded if the value returned matches the value specified in this paramter. -->
<!--PN17474 : Optional Map parameter ResetKeysOnRestart - If True, resets the current Key Array if the Map is restarted.  Defaults to True. -->
<!--DD 05/08/2005: Added additional action steps -->
<!ELEMENT MAP (STEP*)>
<!ATTLIST MAP
	WMTaskCode CDATA #REQUIRED
	WMTaskDescription CDATA #REQUIRED
	ImageURL CDATA #REQUIRED
	TransactionType CDATA #REQUIRED
	ProcessMode CDATA #REQUIRED
	AutoClose CDATA #REQUIRED
	NavigatorDriven CDATA #REQUIRED
	Core CDATA #REQUIRED
	Title CDATA #REQUIRED
	RoadmapName CDATA #REQUIRED
	Version CDATA #REQUIRED
	ElementID ID #REQUIRED
	ResetKeysOnRestart CDATA "True"
	ResourceId CDATA ""
>
<!ELEMENT SUBMAP (STEP*)>
<!ATTLIST SUBMAP
	Code CDATA #REQUIRED
	Description CDATA #REQUIRED
	ElementID ID #REQUIRED
>
<!ELEMENT STEP (SUBMAP?, KEY*)>
<!ATTLIST STEP
	Description CDATA #REQUIRED
	Component CDATA #REQUIRED
	Type CDATA #REQUIRED
	CancelAction CDATA #REQUIRED
	OKAction CDATA #REQUIRED
	OKSteps CDATA #REQUIRED
	CancelSteps CDATA #REQUIRED
	ComponentAction CDATA #REQUIRED
	ServerSide CDATA #REQUIRED
	CreateWMTask CDATA #REQUIRED
	ElementID ID #REQUIRED
	ResumeStep CDATA #REQUIRED
	Core CDATA #REQUIRED
	Submap CDATA #REQUIRED
	OKNewRoadmap CDATA #REQUIRED
	CancelNewRoadmap CDATA #REQUIRED
	ShowWMTaskInterface CDATA "True"
	CheckSystemOption CDATA ""
	SystemOptionValue CDATA ""
	CheckProductOption CDATA ""
	ProductOptionValue CDATA ""
	Action1Action CDATA ""
	Action1Steps CDATA ""
	Action2Action CDATA ""
	Action2Steps CDATA ""
	ResourceId CDATA ""
>
<!ELEMENT KEY (#PCDATA)>
<!ATTLIST KEY
	Name CDATA #REQUIRED
	Value CDATA #REQUIRED
	ElementID ID #REQUIRED
>
